<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7251537623-bhf59jm4g34tin62dqld9m75kv1ei6f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7251537623-bhf59jm4g34tin62dqld9m75kv1ei6f5</string>
	<key>API_KEY</key>
	<string>AIzaSyBH2LzN2u25ClTAioykA2s18GOJGWbGruo</string>
	<key>GCM_SENDER_ID</key>
	<string>7251537623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geminiComp</string>
	<key>PROJECT_ID</key>
	<string>doctory-848a9</string>
	<key>STORAGE_BUCKET</key>
	<string>doctory-848a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7251537623:ios:86bd5770f9f6fcba0b0a92</string>
</dict>
</plist>